@import url('houseki_theme.css');

body{
    margin:40px auto;
    max-width:700px;
    line-height:1.4;
    font-size:17px;
    color: var(--color1);
    background-color: var(--background);
    padding: 0 10px
}

body img{
    padding-top: 1cm;
    max-width: 600px;
    max-height: 425px;
    padding: 10px
}

h1{line-height:1.1; text-align: center; color: var(--color7)}
h2,h3{line-height:1.1; color: var(--color2)}
footer{font-size: 13px}
a{color: var(--color3)}
a:visited{color: var(--color3)}
a:hover{color: var(--color7)}
li{list-style: none}

.sub{
    text-align: center;
    line-height: 0.7;
    font-size: 21px;
}


.entry{
    padding: 10px;
    border-style: solid;
    border-width: thin;
    border-left: 5px solid var(--color1);
    border-radius: 0 30px 30px 0;
    margin-bottom: 40px;
}

.entry h2 { margin: 5px auto 2px auto; }

.even, .odd {
    min-height: 275px;
    text-align: left
}

.even img  {
    padding-top: 1cm;
    float: right;
    max-width: 400px;
    max-height: 225px;
    padding: 20px
}

.odd img {
    padding-top: 1cm;
    float: left;
    max-width: 400px;
    max-height: 225px;
    padding: 20px
}
