@import url('themes/colors_fire.css');
@font-face {
    font-family: 'mononoki';
    src: url('fonts/mononoki-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mononoki';
    src: url('fonts/mononoki-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'mononoki';
    src: url('fonts/mononoki-Italic.ttf')  format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'mononoki';
    src: url('fonts/mononoki-BoldItalic.ttf')  format('truetype'); 
    font-weight: bold;
    font-style: italic;
}

body{
    margin:40px auto;
    max-width:700px;
    padding: 0 10px;
    font-family: 'mononoki', monospace;
}

body img{
    padding-top: 1cm;
    max-width: 600px;
    max-height: 425px;
    padding: 10px
}

h1{line-height:1.1; text-align: center; color: var(--color6)}
h2,h3,h4{line-height:1.1; color: var(--color5)}
footer{font-size: 13px}
a{color: var(--color3)}
a:visited{color: var(--color3)}
a:hover{color: var(--color7)}
pre{
	border: 1px solid lime ;
	border-radius: 20px ;
        color: solid lime;
	padding: 1em ;
	margin: 1em ;
	white-space: pre-wrap;
        overflow: auto;
        scrollbar-width: none;
}
code {
	color: #00B31E;
	border-radius: 5px ;
	overflow-wrap: break-word ;
}

blockquote{
    font-size: 20px;
    border-left: 3px solid var(--color1);
    padding: 0 10px;
}

.sub{
    text-align: center;
    line-height: 0.7;
    font-size: 21px;
}

.entry{
    padding: 10px;
    border-style: solid;
    border-width: thin;
    border-left: 5px solid var(--color1);
    border-radius: 0 30px 30px 0;
    margin-bottom: 40px;
}

.entry h2 { margin: 5px auto 2px auto; }

.even, .odd {
    min-height: 275px;
    text-align: left
}

.even img  {
    padding-top: 1cm;
    float: right;
    max-width: 320px;
    max-height: 225px;
    padding: 20px
}

.odd img {
    padding-top: 1cm;
    float: left;
    max-width: 400px;
    max-height: 225px;
    padding: 20px
}

